*{margin: 0px;}

.container{
    /* TODAS LAS CAJAS TIENEN ANCO Y ALTO */
    width: 100%;
    height: 100vh;

    background-color: black;

    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;
    

    
}

.cajaGrande{
    width: 20%;
    height: 20vh;

    background-color: antiquewhite;
    border-color: red;
    border-style: solid;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

button{
    margin-bottom: 6px;
}



.rectangulo{
    width: 100%;
    height: 50%;

    background-color: yellow;


}



/* .(PUNTO) = CLASES */
/* # id = IDENTIFICADORES */
/* ancho = se trabaja en % */
/* alto = se trabaja en vh  */