*{
    margin: 0px;
}

body{
    font-family: Impact;
    background-color: #3550a9;
}
.container{
    /* TODAS LAS CAJAS TIENEN ANCO Y ALTO */
    width: 100%;
    height: 100vh;


    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center; 
}

.cajaGrande{
    width: 20%;
    height: 20vh;

    background-color: #ffbf5e;
    border-style: solid;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius : 10px;

    /* TODO LO QUE SE SALGA SE OCULTA */
    overflow: hidden;

    

}

button{
    margin-bottom: 6px;
    border-radius: 10px;
    background-color: #f9f871;
    padding: 5px;
}



.rectangulo{
    width: 100%;
    height: 50%;

    background-color: #a852a9;

    
}




/* .(PUNTO) = CLASES */
/* # id = IDENTIFICADORES */
/* ancho = se trabaja en % */
/* alto = se trabaja en vh  */
/* MARGEN ESPACIO PA FUERA */
/* PADDING ESPACIO PA DENTRO */