*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: red;

    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10vh;



}

nav{
    background-color: rgb(0, 183, 255);

    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 70%vh;
}

.logo{
    background-color: rgb(0, 26, 255);

    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.logoFONTANERO{
    background-color: rgb(0, 26, 255);

    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 5%;
    height: 5vh;
}