header{
    background-color:rgb(255, 0, 0) ;
    display:flex;
    flex-direction: row;
    height: 50px;

}

main{
    background-color:rgb(251, 255, 0) ;
    display:flex;
    flex-direction: column;
    height: 750px;
}

footer{
    background-color:rgb(255, 0, 0) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

.foto{
   width: 50px;
    height: 50px; 
}
