* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: yellow;
    color: white;

    width: 100%;
    height: 10vh;
}

.registro {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    color: white;

    width: 55%;
    height: 50%;

    border-radius: 10px;
}

.navegacion {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    color: white;

    width: 35%;
    height: 50%;

    border-radius: 10px;
}

main{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;

    background-color: gray;

    width: 100%;
    height: 80vh;
}

.principal{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: antiquewhite;

    width: 70%;
    height: 80%;
}

aside{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 15%;
    height: 100%;
}

.boton_rojo {

    width: 100%;
    height: 10%;

    background-color: red;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 4px 4px 6px slategray;
    cursor: pointer;

}

.imagenes{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: green;

    width: 100%;
    height: 50%;
}

.imagen {

    width: 30%;
    height: 90%;

    background-color: black;

    border-radius: 7px;
}

figure{

    height: 3px;
    width: 3px;
}

footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: yellow;

    width: 100%;
    height: 10vh;
}

.botones{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}


.amarillo{

    width: 70%;
    height: 15%;

    background-color: yellow;
    border-radius: 10px;
    font-size: 0.7rem;

    padding: 0.7rem;
    box-shadow: 4px 4px 6px rgb(59, 58, 58);
}




a {

    color: white;
    text-decoration: none;
}