*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

header{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 7vh;
}

#header-inner{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgb(73, 76, 90);

}

#brand{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 15%;
    height: 100%;

    color: white;
    font-size: x-small;
}

#brand-name{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 70%;
    height: 100%;
}

#nav-list{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 70%;
    height: 100%;

    text-decoration: none;
    list-style-type: none;
    color: white;
}

.nav__link{

    text-decoration: none;
    color: white;
}

#header-actions{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 15%;
    height: 100%;
}

#btn-login{

    background-color: blue;
    border: none;
    border-radius: 7px;
    color: white;
    

    height: 40%;
    width: 30%;
}

#page{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 86vh;
}

aside{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 10%;
    height: 100%;

    background-color: rgb(73, 76, 90);
    border-style: solid;
    border-right: none;
    border-left: none;
    border-color: rgb(129, 127, 127);
    border-width: 1px;


}

#sidebar-inner{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 60%;

    color: white;
}

#sidebar-title{

    font-size: large;
    padding: 10px;
    margin: 10px;
}

#sidebar-links{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;
    height: 50%;

    list-style-type: none;

}

.sidebar__item{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 90%;


}

.sidebar__link{

    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 10px;

    background-color: rgb(91, 94, 105);

    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(129, 127, 127);

}

main{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;
}

#products{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;
    height: 100%;

}

#products-title{

    margin-left: 60px;

}

#cards{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 90%;

}

#card-1{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 30%;
    height: 45%;

    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: gray;
    background-color: aliceblue;
    
    padding: 15px;



    
}

#card-figure-1{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    color: gray;
}

#card-img-1{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

#btn-buy-1{

   background-color: rgb(0, 132, 255);
   border: none;
   color: white;
   width: 100%;
   height: 9%;
   border-radius: 7px;

}

#card-2{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 30%;
    height: 45%;

    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: gray;
    background-color: aliceblue;
    
    padding: 15px;



    
}

#card-figure-2{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    color: gray;
}

#card-img-2{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

#btn-buy-2{

   background-color: rgb(0, 132, 255);
   border: none;
   color: white;
   width: 100%;
   height: 9%;
   border-radius: 7px;

}

#card-3{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 30%;
    height: 45%;

    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: gray;
    background-color: aliceblue;
    
    padding: 15px;



    
}

#card-figure-3{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    color: gray;
}

#card-img-3{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

#btn-buy-3{

   background-color: rgb(0, 132, 255);
   border: none;
   color: white;
   width: 100%;
   height: 9%;
   border-radius: 7px;

}

#mid-text{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 99%;
    height: 5%;
}

#mid-left{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 47%;
    height: 100%;

    background-color: rgb(91, 94, 105);
    border-radius: 7px;
    color: white;
}

#mid-right{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 47%;
    height: 100%;

    background-color: rgb(91, 94, 105);
    border-radius: 7px;
    color: white;
}

#card-4{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 30%;
    height: 45%;

    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: gray;
    background-color: aliceblue;
    
    padding: 15px;



    
}

#card-figure-4{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    color: gray;
}

#card-img-4{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

#btn-buy-4{

   background-color: rgb(0, 132, 255);
   border: none;
   color: white;
   width: 100%;
   height: 9%;
   border-radius: 7px;

}

#card-5{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 30%;
    height: 45%;

    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: gray;
    background-color: aliceblue;
    
    padding: 15px;



    
}

#card-figure-5{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    color: gray;
}

#card-img-5{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

#btn-buy-5{

   background-color: rgb(0, 132, 255);
   border: none;
   color: white;
   width: 100%;
   height: 9%;
   border-radius: 7px;

}

#card-6{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 30%;
    height: 45%;

    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: gray;
    background-color: aliceblue;
    
    padding: 15px;



    
}

#card-figure-6{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    color: gray;
}

#card-img-6{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 80%;
}

#btn-buy-6{

    background-color: rgb(0, 132, 255);
    border: none;
    color: white;
    width: 100%;
    height: 9%;
    border-radius: 7px;

}

footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 7vh;

    background-color: rgb(73, 76, 90);
    color: white;
}
