* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: red;

    width: 100%;
    height: 10vh;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;

    background-color: black;

    width: 100%;
    height: 80vh;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: red;

    width: 100%;
    height: 10vh;
}

.botonesNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 100%;

    background-color: red;
}
.botonNAV{
    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-block-color: unset;
    

    height: 70%;
    width: 30%;

    cursor: pointer;

}

.formularioNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: red;

    width: 30%;
    height: 100%;
}

.inuptNAV{
    color: grey;
}

.botonNAV2{
    width: 20%;
    height: 30%;

    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    border-style: none;

    cursor: pointer;
}

.asideIZQ{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: black;

    width: 20%;
    height: 100%;
}

.contenedorFOTOizq{
    width: 100%;
    height: 100%;
}

.fotoCONTENEDORIZQ{
    width: 100%;
    height: 80%;
}

.contenedorMEDIO{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    color: white;
    width: 80%;
    height: 100%;
}

.fotoMUSTANG{
    width: 100%;
    height: 100%;
}

.asideDCH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 20%;
    height: 70%;

    border-radius: 0.7rem;

    margin-right: 1%;
}

.formulario2{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly 100px;
    align-items: center;

    width: 100%;
    height: 70%;
}




