.LOGO{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.IMG1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 155px;
    left: 50px;
    border-radius: 10px;
}
.IMG2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 255px;
    left: 50px;
    border-radius: 10px;
}
.IMG3{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 355px;
    left: 50px;
    border-radius: 10px;
}
.NAVEGADOR{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 350px;
    left: 250px;
}
.TABLA{
    position: relative;
    top: 350px;
    left: 550px;

}
.FORMULARIO{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 850px;
}
.DESPLEGABLE1{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 550px;

}
.DESPLEGABLE2{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 200px;
    left: 550px;

}