* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: red;

    width: 100%;
    height: 10vh;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;

    background-color: black;

    width: 100%;
    height: 80vh;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: red;

    width: 100%;
    height: 10vh;
}

.botonesNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 100%;

    background-color: red;
}
.botonNAV{
    color: white;
    background-color: black;
    border-radius: 0.2rem;
    border-color: rgb(255, 255, 255);
    border-block-color: unset;
    

    height: 70%;
    width: 30%;

    cursor: pointer;

}

.formularioNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: red;

    width: 30%;
    height: 100%;
}

.inuptNAV{
    color: grey;

    width: 10rem;
    height: 2rem;
}

.botonNAV2{
    width: 20%;
    height: 30%;

    color: white;
    background-color: black;
    border-radius: 0.2rem;
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    border-style: none;

    cursor: pointer;
}

.asideIZQ{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: black;

    width: 20%;
    height: 100%;
}

.contenedorFOTOizq{
    width: 100%;
    height: 100%;
}

.fotoCONTENEDORIZQ{
    width: 100%;
    height: 80%;
}

.contenedorMEDIO{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    color: white;
    width: 80%;
    height: 100%;
}

.fotoMUSTANG{
    width: 100%;
    height: 100%;
}

.asideDCH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 20%;
    height: 70%;

    border-radius: 0.7rem;

    margin-right: 1%;
}

.contenedorasideDCH{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 5%;
}

.botonFORMULARIO{
    width: 50%;
    height: 100%;

    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    border-style: none;

    cursor: pointer;
}

.formulario2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    
    gap: 5%;
}

.inupt2{
    color: grey;

    width: 10rem;
    height: 3rem;
}


@media (max-width: 1024px){

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: red;

    width: 100vw;
    height: 10vh;
}

.botonesNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 40%;
    height: 100%;

    background-color: red;
}

.formularioNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: red;

    width: 50%;
    height: 100%;

    background-color: yellow;
}

.asideDCH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 30%;
    height: 80%;

    border-radius: 0.7rem;

    margin-right: 5%;
    margin-left: 5%;
}

.contenedorMEDIO{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    color: white;
    width: 60%;
    height: 100%;
}

.asideIZQ{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: black;

    width: 20%;
    height: 100%;

    margin-right: 5%;
}

.fotoCONTENEDORIZQ{
    width: 100%;
    height: 60%;
}



}

@media (max-width: 768px){

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: blue;

    width: 100%;
    height: 10vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;

    background-color: black;

    width: 100%;
    height: 80vh;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: red;

    width: 100%;
    height: 10vh;
}

.botonesNAV{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 60%;
    height: 100%;

    background-color: red;
}
.botonNAV{
    color: white;
    background-color: black;
    border-radius: 0.2rem;
    border-color: rgb(255, 255, 255);
    border-block-color: unset;
    

    height: 70%;
    width: 30%;

    cursor: pointer;

}

.formularioNAV{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: yellow;

    width: 60%;
    height: 100%;
}

.inuptNAV{
    color: grey;

    width: 10rem;
    height: 1.5rem;
}

.botonNAV2{
    width: 10rem;
    height: 1.2rem;

    color: white;
    background-color: black;
    border-radius: 0.2rem;
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    border-style: none;

    cursor: pointer;
}

.asideIZQ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background-color: black;

    width: 90%;
    height: 40%;

    margin-top: 5%;
    margin-left: 5%;
}

.contenedorFOTOizq{
    width: 30%;
    height: 100%;
}

.fotoCONTENEDORIZQ{
    width: 100%;
    height: 80%;
}

.contenedorMEDIO{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    color: white;
    width: 80%;
    height: 100%;
}

.fotoMUSTANG{
    width: 100%;
    height: 100%;
}

.asideDCH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 70%;
    height: 60%;

    border-radius: 0.7rem;

    margin-bottom: 5%;
}

.contenedorasideDCH{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 5%;
}

.botonFORMULARIO{
    width: 50%;
    height: 100%;

    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    border-style: none;

    cursor: pointer;
}

.formulario2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    
    gap: 5%;
}

.inupt2{
    color: grey;

    width: 10rem;
    height: 3rem;
}



}
