*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #394b41;

    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    
    
}

main {
    background-color: #9bb0a5;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer{
    background-color: #394b41;

    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navegador{
    background-color: #9bb0a5;

    width: 40%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    border-radius: 0.7rem;
    
}

.formularioLogin{
    background-color: #9bb0a5;

    width: 40%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;

    border-radius: 0.7rem;

}

.botonENTRAR{
    background-color: #394b41;

    width: 10%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;

    border-radius: 0.7rem;
    border-color: rgb(0, 0, 0);
    border-style: double;

    cursor: pointer;
    transition: transform 0.1s;
}

.botonENTRAR:active{
    transform: scale(0.9);
}

.asideIndex{
    background-color: #394b41;

    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;

    margin-left: 10%;

}

.botonBUY{

    background-color: #3bc4ff;

    width: 70%;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;

    border-radius: 0.7rem;
    border-color: rgb(0, 0, 0);
    border-style: double;

    cursor: pointer;
    transition: transform 0.1s;
}

.botonSELL{
    background-color: #ff704a;

    width: 70%;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;

    border-radius: 0.7rem;
    border-color: rgb(0, 0, 0);
    border-style: double;

    cursor: pointer;
    transition: transform 0.1s;

    
}

.botonBUY:active{
    transform: scale(0.9);
}

.botonSELL:active{
    transform: scale(0.9);
}

.pantallaIndex {
    background-color: #394b41;
    width: 70%;
    height: 70%;

    display: flex;

    justify-content: top;
    align-items: left;
    flex-direction: column;
    margin-left: 5%;
}

.todo{
    background-color: #394b41;
    width: 90%;
    height: 80%;

    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
}

.foto{
    background-color: #00ff22;
    width: 30%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 5px;
    
}

.opa1{
    background-color: #1100ff;
    width: 100%;
    height: 33.33%;

    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: row;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.opa2{
    background-color: #ffee00;
    width: 100%;
    height: 33.33%;

    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: row;

}

.opa3{
    background-color: #ff0000;
    width: 100%;
    height: 33.33%;

    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: row;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



.numero{
    background-color: #00ff73;

    width: 10%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copy{
    color: #00bcff;
    font-size: 2rem;
}