*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

header{

    width: 100%;
    height: 10vh;

    background-color: yellow;
    
    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-between;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: flex-start; 

}
main{
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: row-reverse;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: center;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: flex-start; 
}

footer{
    width: 100%;
    height: 10vh;

    background-color: yellow;

    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-around;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;
}

.cajaNavLog{
    width: 100%;
    height: 10vh;


    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-around;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center; 

    color: white;
    text-decoration: none;

}
.navegador{
    background-color: black;

    /* TODAS LAS CAJAS TIENEN ANCO Y ALTO */
    width: 40%;
    height: 5vh;


    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center; 

    border-radius: 5px;

    text-decoration: none;
    
}

.login{
    background-color: rgb(0, 0, 0);
    /* TODAS LAS CAJAS TIENEN ANCO Y ALTO */
    width: 40%;
    height: 5vh;


    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-around;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;

    border-radius: 5px;
}

.cajaTextoGaleria{
    background-color: rgb(187, 187, 187);

    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;

    width: 100%;
    height: 80%;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.cajaTextoamarilla{
    background-color: yellow;

    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;

    border-radius: 5px;

    width: 90%;
    height: 10vh;

    padding: 10px;

    box-shadow: 4px 4px 1px gray;
}

.texto{
    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-around;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;
}

.galeria{
    background-color: green;

    display: flex;
    flex-direction: row;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;

    width: 100%;
    height: 40vh;
}

.cajaImgBot{
    background-color: black;

    width: 30%;
    height: 90%;

    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: center;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;

    border-radius: 5%;
}

.figure{
    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-around;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;

    width: 100%;
    height: 80vh;
}

.img{
    background-color: black;

    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-around;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;
}

.asideBotones{
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    /* AFECTA AL EJE PRINCIPAL */
    justify-content: space-evenly;  
    /* AFECTA AL EJE SECUNDARIO */
    align-items: center;
    
    margin-left: 5%;

    width: 20%;
    height: 100%;

    
    
}

.botonROJO{
    background-color: red;

    width: 100%;
    height: 8vh;

    font-size: 20px;

    box-shadow: 4px 4px 1px gray;
    cursor: pointer;

}

a{
    color: white;
    text-decoration: none;
}









