header{
    background-color: aqua;
    display:flex;
    flex-direction: row;
    height: 50px;
}

main{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 750px;
}

footer {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

/* ICONOS */
.icono-x{
   width: 50px;
    height: 50px; 
}

.icono-instagram{
   width: 50px;
    height: 50px; 
}

.icono-tiktok{
   width: 50px;
    height: 50px; 
}

.icono-telegram{
   width: 50px;
    height: 50px; 
}

/* INICIO */
.contacto1{
    width: 200px;
    height: 120px; 
}

.foto1{
    
    width: 150px;
    height: 150px;
    
}

.tabla11{
    background-color: aqua;
    width: 50px;
    height: 50px; 
}

.inicio{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    width: 100%;
}

/* INTERESES */
.barbacoa{

    border-radius: 10px;
    padding-left: 25%;
}

.beto{

    border-radius: 10px;
    padding-left: 25%;
    padding-top: 15%;
}

.T1{
    position: absolute;
    align-content: center;
    padding-left: 50%;
}

.lista{
    position: absolute;
    align-content: center;
    padding-left: 52%;
    padding-top: 5%;
}

/* CONTACTO */

.formulario{
    padding-left: 20PX;
    background-color: aqua;
    width: 250px;
    height: 250px; 
    align-items: center;
    justify-content: center;
}