* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
}

header{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

main{
  background-color: #00ff15;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    

}

footer{
    background-color: #0400ff;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-around;

}

figure{
  background-color: white;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

table{
  background-color: white;
}